body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.row {
    display: flex;
}

.selected {
    outline: 2px solid green;
    z-index: 0;
}